<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}} / Exam / Davy</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>

<body>
    <header>
        <nav>
            <span class="nav-span">Points: {{.Points}}</span>|
            {{if .User}}
            <a class="nav-link" href="/{{.User}}">{{.User}}</a>
            {{else}}
            <a class="nav-link" href="/">Home</a>
            {{end}} |
            <a class="nav-link" href="/rank">rank</a> |
            <form action="/logout" method="post" class="form-inline nav-btn"><button>Log out</button></form>
        </nav>
    </header>
    <main>
        <div class="title">
            <h1>{{.Title}}</h1>
            {{if .Correct}}
            <form action="/exam" method="get"><button>Next</button></form>
            {{end}}
        </div>
        <div class="statement">
            <h3>{{.Question.Statement}}</h3>
        </div>
        <div class="choices">
            {{if .Explanation}}
            <div class="error-form">{{.Explanation}}</div>
            {{end}}
            {{range .Question.Choices}}
            <form method="post">
                <input type="hidden" name="choice" value="{{.}}">
                <button type="submit">{{.}}</button>
            </form>
            {{end}}
        </div>
    </main>
</body>

</html>