<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rank / Exam / Davy</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>

<body>
    <header>
        <nav>
            {{if .User}}
            <a class="nav-link" href="/{{.User}}">{{.User}}</a>
            {{else}}
            <a class="nav-link" href="/">Home</a>
            {{end}}
            <form action="/exam" method="get" class="form-inline"><button>Exam</button></form>
            <form action="/logout" method="post" class="form-inline"><button>Log out</button></form>
        </nav>
    </header>
    <main>
        <h1>Rank</h1>

        {{range .UserRanks}}
        <div class="updates">
            <div> {{.Rank}}.)
                <strong>
                    <a href="/{{.Name}}">{{.Name}}</a>
                </strong>
            </div>
            <div>Score: {{.Score}}</div>
        </div>
        {{end}}
    </main>
</body>

</html>